 *{
     margin: 0;
     padding: 0;
 }

body h1{
    margin: 0 auto;
    padding: 1%;
    color: white;
  
}

.header{
    height: 60;
    width: 500;
    padding: 0%;
    margin: 0%;
    display: flex;
    background-color: #67ce6c;
}